.navbar {
    font-family: "Spartan", sans-serif;
    display: flex;
    background: linear-gradient(90deg, rgb(11, 147, 22) 0%, rgba(65, 177, 108, 0.7) 100%);
}

.navbar .navbar-brand a {
    color: white;
    font-weight: 700;
    margin-left: 20px!important;
}

.navbar .navbar-brand a:hover,
.navbar .navbar-brand a:active {
    color: rgb(203, 203, 203);
}

.navbar .navbar-collapse .navbar-nav .nav-item {
    margin-right: 0.5cm;
    color: white;
}

.navbar .navbar-collapse .navbar-nav .nav-item:hover,
.navbar .navbar-collapse .navbar-nav .nav-item:active,
.navbar .navbar-collapse .navbar-nav .nav-item.active {
    color: rgb(203, 203, 203);
    font-weight: 700;
    cursor: pointer;
    /* text-align: right; */
}